@import url('https://fonts.googleapis.com/css2?family=Itim&family=Xanh+Mono:ital@0;1&display=swap');

.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    color: #fff;
    position: relative;
    background-color: #141212;
    overflow-x: hidden;
}

section.hero {
    background-color: #242424;
    width: 100vw;
    display: flex;
    min-height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

aside {
    z-index: 2;
}

aside.navigation {
    font-family: "Itim", cursive;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #0c0c0c;
    font-size: 14px;
    z-index: 2;
}

.content {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 1;
    position: relative;
    /* margin-left: 120px; */
    z-index: 0;
}

.content .right .rightImgContainer {
    position: relative;
}

.content .right .rightImgContainer img {
    scale: 1;
}

.left {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left .shareBtns {
    margin-bottom: 20px;
}

.left .shareBtns i {
    margin: 0 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.left .shareBtns i:hover {
    color: #ff2c2c;
    transform: translateY(-2px);
}

.left .center {
    margin-bottom: 20px;
}

.left .center h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.left .center h3 {
    font-size: 20px;
    color: #d4cbcb;
    margin-bottom: 20px;
}

.left .center button {
    position: relative;
    display: block;
    background-color: #ff2c2c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all .3s ease;
    z-index: 1;
    transition: all .3s ease-in-out;
    border: 1px solid #ff2c2c;
}

.left .center button i {
    position: relative;
    left: -10px;
}

.left .center button:hover {
    color: #ff2c2c;
}

.left .center button:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #272424;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    scale: 1;
    border-radius: 5px;
    z-index: -1;
}

.left .center button::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: #272424;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    scale: 0;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.left .center p {
    font-size: 14px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.left .connection {
    display: flex;
    gap: 20px;
}

.left .connection .connection_icon {
    width: 30px;
    height: 30px;
    background-color: #ff2c2c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.left .connection .connection_icon:hover {
    color: #ff2c2c;
    background-color: #fff;
}

.left .connection div {
    display: flex;
    align-items: center;
}

.left .connection .connection_details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left .connection .connection_details p {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
}

.navigation .logo {
    background-color: #ff2c2c;
    padding: 10px;
    font-size: 12px;
    border-radius: 50%;
}

.navigation .menu ul {
    display: flex;
    transform: rotate(-90deg);
    flex-direction: row-reverse;
}

nav ul li {
    position: relative;
    margin: 0 10px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 7px;
    border-radius: 50%;
    background-color: #ff2c2c;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -10px auto;
    transition: all .3s ease;
}

nav ul li a.active::after,
nav ul li a:hover::after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ff2c2c;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -10px auto;
}


.icon_share {
    font-size: 20px;
}

.icon_share i {
    margin: 10px 0;
    cursor: pointer;
    transition: all .3s ease;
}

.icon_share i:hover {
    color: #ff2c2c;
}


section {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    padding: 20px 10px;
    position: relative;
    /* margin-left: 120px; */
    z-index: 1;
    background-color: #141212;
}


section.about {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    z-index: 0;
    background-color: #141212;
}

.about .about_container {
    padding: 20px 10px;
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    z-index: 0;
}

.about .aboutContent {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 10px 100px;
}

.about .aboutContent .aboutLeft {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .aboutContent .aboutLeft .aboutLeftImg {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1919;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}

.about .aboutContent .aboutLeft .aboutLeftImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    z-index: 1;

}

.about .about_container .intro {
    font-size: 20px;
    font-weight: 900;
}

.about .about_container .aboutTitle {
    font-size: 34px;
    margin-top: 20px;
    color: #ff2c2c;
    margin-bottom: 20px;
    font-family: "itim", monospace;
}

.about .about_container .aboutContent .aboutRight {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: visible;
}

.about .about_container .aboutContent .aboutRight h3 {
    font-size: 20px;
    color: #ff2c2c;
    margin-bottom: 20px;
    font-family: "itim", monospace;
}

.about .about_container .aboutContent .aboutRight p {
    text-wrap: wrap;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "xanh mono", monospace;
    position: relative;
    z-index: 1;
    margin-right: 130px;
}

.about .about_container .aboutContent .aboutRight .boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.about .about_container .aboutContent .aboutRight .boxes .box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1919;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    flex-direction: column;
    border: 1px solid #ff2c2c;
    transition: all .5s ease-in-out;
}

.about .about_container .aboutContent .aboutRight .boxes .box:hover {
    transform: translateY(-10px);
    scale: 1.05;
}

.about .about_container .aboutContent .aboutRight .boxes .box i {
    color: #ff2c2c;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    transition: all .5s ease-in-out;
    position: relative;
}

.about .about_container .aboutContent .aboutRight .boxes .box i:hover {
    transform: translateY(-10px);
    scale: 1.7;
}

.about .about_container .aboutContent .aboutRight .boxes .box h4 {
    color: #ff2c2c;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "itim", monospace;
}

.about .about_container .aboutContent .aboutRight .boxes .box p {
    font-size: 16px;
    margin-top: 10px;
    font-family: "xanh mono", monospace;
    margin: 0 auto;
}

.about .about_container .aboutContent .aboutRight button {
    position: relative;
    display: block;
    background-color: #ff2c2c;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    margin-top: 30px;
    transition: all .3s ease;
    z-index: 1;
    transition: all .3s ease-in-out;
    border: 1px solid #ff2c2c;
}


.about .about_container .aboutContent .aboutRight button i {
    position: relative;
    left: -10px;
}

.about .about_container .aboutContent .aboutRight button:hover {
    color: #ff2c2c;
}

.about .about_container .aboutContent .aboutRight button:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #272424;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    scale: 1;
    border-radius: 5px;
    z-index: -1;
}

.about .about_container .aboutContent .aboutRight button::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: #272424;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    scale: 0;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

section.qualifications {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    max-width: 100vw;
}

section.qualifications .q_container {
    position: relative;
    z-index: 0;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-left: 120px; */
}

section.qualifications .q_container .intro {
    font-size: 20px;
    font-weight: 900;
}

section.qualifications .q_container .qContent {
    display: flex;
    margin-top: 30px;
    gap: 150px;
    width: 100vw;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "xanh mono", monospace;
}

section.qualifications .q_container .qContent .qleft {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 16px;
    font-family: "xanh mono", monospace;
    line-height: 30px;
}

section.qualifications .q_container .qContent .qleft h3 {
    color: #ff2c2c;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "itim", monospace;
    display: block;
    position: relative;
}

section.qualifications .q_container .qContent .qleft h3>i {
    margin-right: 10px;
    font-size: 20px;
    transition: all .5s ease-in-out;
    color: #ffffff;
}

section.qualifications .q_container .qContent .qleft h3>i:hover {
    transform: translateY(-10px);
    color: #ff2c2c;
}

section.qualifications .q_container .qContent .qleft ul {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style: none;
    font-family: "xanh mono", monospace;
    font-size: 16px;
}

section.qualifications .q_container .qContent .qleft ul li {
    margin-bottom: 40px;
    position: relative;
}

section.qualifications .q_container .qContent .qleft ul li::before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    top: 0;
    left: -41px;
    z-index: -1;
    background-color: #636262;
    transition: all .5s ease-in-out;
}

section.qualifications .q_container .qContent .qleft ul li h4 {
    color: #ff2c2c;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "itim", monospace;
}

section.qualifications .q_container .qContent .qleft ul li p {
    font-size: 16px;
    font-family: "xanh mono", monospace;
}

section.qualifications .q_container .qContent .qleft ul li p i {
    margin-right: 10px;
    font-size: 16px;
    color: #ff2c2c;
    transition: all .5s ease-in-out;
}

section.qualifications .q_container .qContent .qleft ul li p i:hover {
    scale: 1.1;
    color: #ffffff;
}

section.qualifications .q_container .qContent .qleft ul li>h4::after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff2525;
    display: block;
    border: 3px solid #464444;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto -50px;
    transition: all .5s ease-in-out;
}


section.qualifications .q_container .qContent .qleft ul li:hover>h4::after {
    background-color: #464444;
    border: 2px solid #ff2525;
    scale: 1.2;
}

section.qualifications .q_container .qContent .qleft ul li:hover::before {
    background-color: #ff2525;
    height: 0px;
    width: 2px;
}




section.qualifications .q_container .qTitle {
    font-size: 34px;
    margin-top: 20px;
    color: #ff2c2c;
    margin-bottom: 20px;
    font-family: "itim", monospace;
}

section.services {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.services .s_title {
    font-size: 34px;
    margin-top: 20px;
    color: #ff2c2c;
    margin-bottom: 20px;
    font-family: "itim", monospace;
}

section.services .s_intro {
    font-size: 20px;
    margin-top: 20px;
    color: #ffffff;
    /* margin-bottom: 20px; */
    font-weight: 900;
}

section.services .s_content {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 120px;
}

section.services .s_content .s_box {
    width: 300px;
    height: 300px;
    background-color: #2a2a2a;
    border: 2px solid #ff2c2c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 20px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

section.services .s_content .s_box:hover {
    border: 2px solid rgb(255, 255, 255);
    scale: 1.03;
}

section.services .s_content .s_box>i {
    font-size: 50px;
    color: #ff2c2c;
}

section.services .s_content .s_box>p {
    font-size: 24px;
    color: #ff2c2c;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "itim", monospace;
}

section.services .s_content .s_box>a {
    font-size: 20px;
    font-family: "itim", monospace;
    display: inline-block;
    transition: all .5s ease-in-out;
}

section.services .s_content .s_box>a i {
    margin-left: 10px;
}

section.services .s_content .s_box>a:hover {
    transform: translateY(-2px);
}

section.work {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.work .w_title {
    font-size: 34px;
    margin-top: 20px;
    color: #ff2c2c;
    margin-bottom: 20px;
    font-family: "itim", monospace;
}

section.work .w_intro {
    font-size: 20px;
    margin-top: 20px;
    color: #ffffff;
    /* margin-bottom: 20px; */
    font-weight: 900;
}

section.work>.filter_projects ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    font-size: 20px;
    font-family: "itim", monospace;
    color: #ffffff;
    width: 100vw;
}

section.work>.filter_projects ul>li {
    margin: 10px 20px;
    cursor: pointer;
    padding: 5px 10px;
    transition: all .5s ease-in-out;
}

section.work .w_content {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 120px;
}


section.work .w_content .w_box {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #2a2a2a;
    border: 2px solid #ff2c2c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 20px;
    transition: all .5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

section.work .w_content .w_box:hover {
    border: 2px solid rgb(255, 255, 255);
    scale: 1.03;
}

.filter_active {
    color: #ffffff;
    background-color: #ff2c2c;
    border-radius: 10px;
    padding: 5px 10px;
}

.card_inactive {
    scale: 0;
}

.move {
    position: relative;
    top: -1000px;
}


section.work .w_content .w_box .w_box_details {
    font-size: 24px;
    color: #ff2c2c;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "itim", monospace;
    text-align: center;
    z-index: 1;
}

section.work .w_content .w_box>img {
    position: relative;
    transition: all .5s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

section.work .w_content .w_box img:hover {
    scale: 1.07;
}

section.skills {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.skills .skill_title {
    font-size: 34px;
    margin-top: 20px;
    color: #ff2c2c;
    margin-bottom: 20px;
    font-family: "itim", monospace;
}

section.skills .skill_intro {
    font-size: 20px;
    margin-top: 20px;
    color: #ffffff;
    /* margin-bottom: 20px; */
    font-weight: 900;
}

section.skills .skill_content {
    width: 700px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px 120px;
}

section.skills .skill_content .skill_content_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

section.skills .skill_content .skill_content_box .skill_content_box_txt {
    font-size: 20px;
    margin-top: 20px;
    color: #ffffff;
    /* margin-bottom: 20px; */
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section.skills .skill_content .skill_content_box .skill_content_box_bar {
    width: 100%;
    height: 10px;
    background-color: #2a2a2a;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

section.skills .skill_content .skill_content_box .skill_content_box_bar .skill_content_box_bar_fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ff2c2c;
    border-radius: 10px;
}

section.contact {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.contact .contact_intro{
    font-size: 20px;
    margin-top: 50px;
    color: #ffffff;
    /* margin-bottom: 20px; */
    font-weight: 900;   
}

section.contact .contact_title {
    font-size: 34px;
    margin-top: 20px;
    color: #ff2c2c;
    margin-bottom: 20px;
    font-family: "itim", monospace;
}

section.contact .contact_content {
    width: 700px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px 120px;
}

section.contact .contact_content .contact_content_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

section.contact .contact_content .contact_content_box input, textarea {
    width: 100%;
    height: 50px;
    background-color: #2a2a2a;
    border: none;
    border-radius: 10px;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 20px;
}

section.contact .contact_content .contact_content_box textarea {
    height: 200px;
    padding: 20px;
    resize: none;
}

section.contact .contact_content .contact_content_box button {
    width: 100%;
    height: 50px;
    background-color: #ff2c2c;
    border: none;
    border-radius: 10px;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    z-index: 1;
    border: 2px solid #ff2c2c;
}

section.contact .contact_content .contact_content_box button::before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: #272424;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    scale: 0;
    border-radius: 10px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

section.contact .contact_content .contact_content_box button:hover::before{
    scale: 1;
}

section.contact .contact_content .contact_content_box button:hover {
    color: #ff2c2c;
    cursor: pointer;
}

section.footer {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}



@media (max-width: 1200px) {
    .hero {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
    }

    .content {
        flex-direction: column;
        z-index: 2;
        margin: 0px;
        align-items: center;
        width: 100vw;
        min-height: 100vh;
    }

    aside.navigation {
        position: fixed;
        width: 100%;
        height: 100px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 12px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        z-index: 100;
        padding: 0 20px;
    }

    aside.navigation .logo {
        font-size: 10px;
    }

    .navigation .menu ul {
        display: flex;
        transform: rotate(0deg);
        flex-direction: row;
    }

    aside.navigation .icon_share {
        display: block;
    }

    aside.navigation .icon_share i {
        margin: 0;
    }

    .about {
        margin: 0;
        width: 100%;
        min-height: 100vh;
        padding: 0 20px;
    }

    .about .about_container {
        margin: 0;
        width: 100vw;
        min-height: 100vh;
        padding: 20px 0px;
    }

    .about .about_container .aboutContent {
        flex-direction: column;
        z-index: 1;
        margin: 0px;
        align-items: center;
        width: 100vw;
        padding: 0;
    }

    .about .about_container .aboutContent .aboutRight {
        width: 100vw;
        margin: 100px auto;
        padding: 10px 20px;
    }


    .about .about_container .aboutContent .aboutRight .boxes {
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
        /* margin: 30px auto */
        /* margin: 0; */
    }

    .about .about_container .aboutContent .aboutRight .boxes .box {
        margin: 20px 0;
        height: 200px;
        width: 300px;
    }

    .about .about_container .aboutContent .aboutRight .boxes .box p {
        font-size: 14px;
    }

    .about .about_container .aboutContent .aboutRight button {
        margin-top: 20px;
    }

    .about .about_container .aboutContent .aboutRight p {
        font-size: 14px;
        margin: 0;
    }

    .w_content{
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

@media (max-width: 480px) {
    aside.navigation {
        font-size: 8px;
        padding: 0 2px;
        height: 70px;
    }


    aside.navigation .icon_share {
        display: none;
    }

    .navigation .logo {
        display: none;
    }

    nav ul li {
        font-size: 12px;
        font-weight: bold;
    }


    #modal_services {
        width: 330px;
        height: 600px;
    }


    .content .left {
        width: 100%;
        padding: 0 10px;
        margin: 0;
    }

    .content .left .center h1 {
        margin-top: 60px;
        font-size: 32px;
    }

    .content .left .center h3 {
        font-size: 15px;
    }

    .content .left .center p {
        margin-top: 15px;
        font-size: 16px;
    }

    .content .left .center button {
        margin-top: 40px;
        font-size: 16px;
        margin-bottom: 80px;
    }

    .content .left .connection {
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .content .left .connection .connection_icon {
        margin: 10px 0;
        font-size: 20px;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content .left .connection>div {
        width: 100vw;
        display: flex;
        align-items: center;
        margin: 10px 0;
        flex-direction: column;
        border-bottom: 1px solid #ff2c2c;
        padding-bottom: 10px;
    }

    .content .right .rightImgContainer img {
        scale: 1;
    }

    .about {
        max-width: 100vw;
        min-height: 100vh;
        padding: 0 10px;
        margin: 0;
    }

    .about .about_container {
        max-width: 100vw;
        padding: 20px 0px;
        margin: 0;
    }

    .about .about_container .aboutContent {
        margin: 0;
        padding: 0;
    }

    .about .about_container .aboutContent .aboutLeft {
        width: 100vw;
        margin: 0;
        padding: 10px 20px;
    }

    .about .about_container .aboutContent .aboutLeft .aboutLeftImg {
        margin-top: 50px;
        position: relative;
        width: 300px;
        height: 200px;
    }

    .about .about_container .aboutContent .aboutRight {
        width: 100vw;
        margin: 0;
        padding: 10px 20px;
    }

    .about .about_container .aboutContent .aboutRight h3 {
        font-size: 20px;
        color: #ff2c2c;
        margin-bottom: 20px;
        font-family: "itim", monospace;
    }

    .about .about_container .aboutContent .aboutRight p {
        text-align: justify;
        font-size: 16px;
        margin-bottom: 20px;
        font-family: "xanh mono", monospace;
        position: relative;
        z-index: 1;
    }

    .about .about_container .aboutContent .aboutRight .boxes {
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
    }

    .about .about_container .aboutContent .aboutRight .boxes .box {
        margin: 20px 0;
        height: 150px;
        width: 250px;
    }

    .qualifications .q_container .qContent {
        flex-direction: column;
        width: 100vw;
    }

    section.services .s_content {
        padding: 0;
    }


    #work > .w_content {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-wrap: nowrap;
    }

    #modal_work {
        width: 100%;
        min-height: 100vh;
    }

    .modal_work > .modal_content{
        flex-direction: column;
    }

    .modal_work > .modal_content > .modal_content_img_container > img {
        width: 100%;
    }

    .modal_work > .modal_content > .modal_content_text p {
        width: 100%;
    }

    .modal_work > .modal_content > .modal_content_text > .modal_content_text_bottom p{
        font-size: 13px;
        line-height: 25px;
    }

    .modal_work > .modal_content > .modal_content_text > .modal_content_text_center{
       font-size: 13px
    }

    section.skills .skill_content .skill_content_box .skill_content_box_bar{
        width: 300px;
    }

    section.skills .skill_content .skill_content_box{
        width: 300px;
        padding: 0 20px;
        margin: 20px 0;
        flex-direction: column;
    }

    #contact .contact_content .contact_content_box {
        width: 300px;
    }
}

.modal_work {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    padding: 40px 30px;
    z-index: 1000;
    border-radius: 10px;
    background-color: rgb(36, 37, 40);
    transition: all .2s ease-in-out;
}



.modal_work>i {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #ff2c2c;
    transition: all .3s ease;
    cursor: pointer;
}

.modal_work>i:hover {
    transform: translateY(-2px);
}

.modal_work > .modal_content { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.modal_work > .modal_content > .modal_content_img_container > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.modal_work > .modal_content > .modal_content_text > .modal_content_text_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: column;
}

.modal_work > .modal_content > .modal_content_text > .modal_content_text_top > h1 {
    color: #ff2c2c;
    font-size: 34px;
    font-family: "itim", monospace;
}

.modal_work > .modal_content > .modal_content_text > .modal_content_text_top > p {
    font-size: 16px;
    font-family: "xanh mono", monospace;
}

.modal_work > .modal_content > .modal_content_text > .modal_content_text_center > p {
    font-size: 12px;
    font-family: "xanh mono", monospace;
}

.modal_work > .modal_content > .modal_content_text > .modal_content_text_bottom {
    line-height: 40px;
    font-size: 16px;
    font-family: "xanh mono", monospace;
}




.modal_services {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    padding: 40px 30px;
    z-index: 1000;
    border-radius: 10px;
    background-color: rgb(36, 37, 40);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.modal_inactive {
    scale: 0;
}

.modal_services>i {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #ff2c2c;
    transition: all .3s ease;
    cursor: pointer;
}

.modal_services>i:hover {
    transform: translateY(-2px);
}

.modal_services>.modal_content>h1 {
    color: #ff2c2c;
    margin-bottom: 20px;
    font-size: 34px;
    font-family: "itim", monospace;
}

.modal_services>.modal_content>p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "xanh mono", monospace;
}

.modal_services>.modal_content>.points {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    width: 100%;
}

.modal_services>.modal_content>.points>p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "xanh mono", monospace;
}

.modal_services>.modal_content>.points>p>i {
    margin-right: 10px;
    background-color: #ff2c2c;
    font-size: 15px;
    transition: all .3s ease;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px;
    color: #1e1d1d;
}

.modal_services>.modal_content>.points>p>i:hover {
    transform: translateY(-2px);
}

